@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", "Lato", sans-serif;
  background-color: #f1faee;
}

h1 {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #1d3557;
}

h2,
h3 {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 600;
  background-color: #457b9d;
  padding: 12px;
  border-radius: 4px;
  color: #f1faee;
}

#perfil {
  text-align: center;
}

.lista_infos a {
  text-decoration: none;
}
.lista_infos li {
  list-style-type: none;
  padding: 8px;
  font-weight: 600;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.resumo_descricao {
  font-style: italic;
  padding-inline: 24px;
}

a:hover {
  color: #1d3557;
  text-decoration: underline;
}

a[target="_blank"] {
  text-decoration: underline dotted; /* Sublinhado com linha pontilhada */
}

.educacao_titulo {
  font-weight: bold;
  padding-inline: 24px;
}

footer p {
  text-align: center;
  background-color: #457b9d;
  color: #f1faee;
  font-style: italic;
  border-radius: 4px;
}
